*{
    padding: 0;
    margin: 0;
}
ul{
    display: flex;
    padding: 40px;
    justify-content: space-around;
}
nav ul li{
    /* list-style-position: inside;
    list-style-image: url(https://media1.tenor.com/m/8ZQda51r0EsAAAAC/hi-love.gif);
    border: 4px solid yellow; */
}