* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

nav ul {
    display: flex;
    gap: 35px;
    list-style: none;
    align-items: center;
}


.li>img {
    width: 20px;
}

.logo img {
    width: 180px;
}

.logo {
    margin: 10px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* place-items: center; */
    justify-content: space-between;
}

.cards {
    width: 300px;
    min-height: 170px;
    background: #f8f8f8;
    margin: 20px;
    justify-content: center;
    text-align: center;

}

.btn {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 8px;
    margin-top: 30px;
}

.items {
    display: grid;
    place-items: center;
}

h2 {
    margin-top: 20px;
}

main {
    max-width: 900px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.btn>button {
    gap: 40px;
}

button:nth-child(1) {
    background-color: rgb(47, 197, 217);


}

button:nth-child(2) {
    background-color: rgba(40, 185, 40, 0.841);
}

button {
    display: grid;
    place-items: center;
    width: 130px;
    padding: 10px 10px;
    border-radius: 10px;
    border: none;
    margin: auto;
}

button:nth-child(1):active {
    background-color: blueviolet;
}

button:nth-child(2):active {
    background-color: rgb(43, 255, 188);
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
footer{
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
}

@media (max-width: 900px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }

    .cards {
        width: 100%;
    }
}

@media (max-width: 600px) {

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
    }

    nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        gap: 10px;
        padding: 0;
    }

    .logo img {
        width: 160px;
    }

    nav li {
        font-size: 14px;
    }
    h1{
        font-size: small;
    }
    footer{
        width: 100vw;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
}

@media (max-width:768px) {

    nav {
        padding: 10px 20px;
        flex-direction: column;
    }

    .logo img {
        width: 120px;
        margin-top: -10px;
    }

    nav ul {
        gap: 12px;
    }

    nav li {
        font-size: 13px;
    }

    .li img {
        width: 16px;
    }
}
