.container {
    display: grid;
    grid-template-columns: 100px 100px;
    border: 2px dashed black;
    width: 80vw;
}

.items {
    border: 2px solid red;
    /* width: 80px; */
    height: 80px;
}

.item1 {
    grid-row: 1/1;
    grid-column: 1/1;
}

.items5 {
    grid-row: 1/1;
    grid-column: 1/1;
}